@use "../../scss/" as *;

.modal {
  @include flex(center, center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba($color: $black, $alpha: 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 999;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    padding: 2rem;
    background-color: $body-bg;
    width: 80%;
    height: auto;
    opacity: 0;
    transform: translateY(-250px);
    transition: transform 0.6s ease, opacity 0.6s ease;
    @include table {
      width: 80%;
    }

    @include table {
      width: 90%;
    }
    @include mobile {
      width: 100%;
    }
    iframe {
      height: 500px;
      @include table {
        height: 400px;
      }
      @include mobile {
        height: 300px;
      }
    }
    &__close {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 1.5rem;
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
  }

  &.active &__content {
    opacity: 1;
    transform: translateY(0);
  }
}
